<h1>Add a New Figure</h1>

<form action="/figures" method="POST">
  <label> Name </label>
  <input type="text" name="figure[name]"> </br>

  <label> Titles </label>
  <% Title.all.each do |title| %>
    <input type="checkbox" name="figure[title_ids][]" value="<%= title.name %"> <br>
  <% end %>

  <label> Genres </label>
  <% Genre.all.each do |genre| %>
    <input id="<%= genre.name %>" type="checkbox" name="genres[]" value="<%= genre.id %>">
  <% end %>

  <input type="submit" value="Create">
</form>
